.mulish-header {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
}
article,
footer,
header,
main,
nav,
section {
  display: block;
}
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 1.5;
  color: #010221;
  text-align: left;
  background-color: #000;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
ul {
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
}
ul ul {
  margin-bottom: 0;
}
strong {
  font-weight: 1000;
}
small {
  font-size: 80%;
}
a {
  color: #4CAF50;
  background-color: transparent;
}
a:hover {
  color: #388E3C;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  border-style: none;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.main-footer .services ul,
.nav,
.padnav .nav-items {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
article,
body,
div,
dt,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
li,
nav,
section,
small,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
article,
footer,
header,
nav,
section {
  display: block;
}

a {
  transition: all 0.3s ease-in;
}
a:focus {
  outline: 0;
}
@media screen and (max-width: 37.5em) {
  a {
    word-wrap: break-word;
  }
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(7px) rotate(135deg);
    transform: translateY(7px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(7px) rotate(135deg);
    transform: translateY(7px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(-7px) rotate(135deg);
    transform: translateY(-7px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(-7px) rotate(135deg);
    transform: translateY(-7px) rotate(135deg);
  }
}
.padnav-container {
  background: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 11;
}
.padnav {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 4.6875rem;
  z-index: 11;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 56.25em) {
  .padnav {
    display: flex;
    height: 5.625rem;
    max-width: 68.75rem;
  }
  .padnav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.padnav .padnav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 56.25em) {
  .padnav .padnav_header {
    flex-direction: row;
  }
}
.padnav .padnav_header .brand {
  margin: auto 1rem;
  order: 1;
  max-height: 3rem;
}
@media screen and (min-width: 56.25em) {
  .padnav .padnav_header .brand {
    max-height: 3.5rem;
  }
}
.padnav .nav-items {
  left: 0%;
  right: 0;
  position: absolute;
  z-index: 12;
  min-width: 100%;
  min-height: auto;
  top: 75px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  transition: 0.5s ease;
  text-align: center;
}

.padnav .nav-items.active {
  left: 100%;
  right: 0;
}


.padnav .nav-items .btn--primary {
  border-radius: 40px;
}

@media (max-width: 56.25em) {
  .padnav .nav-items .btn {
    background-color: transparent;
    margin-top: 1em;
    font-size: 1em;
    color: #4CAF50;
  }
}
@media screen and (min-width: 56.25em) {
  .padnav .nav-items {
    min-width: auto;
    left: auto;
    right: auto;
    justify-content: end;
    position: relative;
    padding: 0;
    background-color: transparent;
    -webkit-transform: none;
    transform: none;
    display: flex;
    flex-direction: row;
    top: 0;
  }
  .padnav .nav-items li:not(:first-child) {
    padding-left: 1rem;
  }
  .padnav .nav-items .btn {
    border-width: 3px;
  }
}
.padnav-toggle {
  cursor: pointer;
  width: 4.6875em;
  height: 30px;
  line-height: 15px;
  margin: auto 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 56.25em) {
  .padnav-toggle {
    display: none;
  }
}
.padnav-toggle i {
  background-color: #fff;
  border-radius: 4px;
  content: "";
  display: block;
  width: 100%;
  height: 7px;
}
.padnav-toggle i:first-child {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  animation-direction: reverse;
}
.padnav-toggle i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  animation-direction: reverse;
}
.padnav-toggle i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  animation-direction: reverse;
}
@keyframes inM {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes inT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(7px) rotate(135deg);
    transform: translateY(7px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(7px) rotate(135deg);
    transform: translateY(7px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(-7px) rotate(135deg);
    transform: translateY(-7px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
  }
  to {
    -webkit-transform: translateY(-7px) rotate(135deg);
    transform: translateY(-7px) rotate(135deg);
  }
}
.main-footer {
  background-color: #000;
}
.main-footer,
.main-footer a {
  color: #fff;
  font-weight: 600;
}
.main-footer a:hover {
  color: #388E3C;
  text-decoration: none;
}
.main-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .main-footer .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 48em) {
  .main-footer .services {
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 48em) {
  .main-footer .services:not(:last-child) {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
.main-footer .services ul {
  text-transform: uppercase;
}
.main-footer .services--faq {
  max-width: 100%;
}
.main-footer .services--faq ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main-footer .services--faq li {
  font-weight: 100;
  font-size: 0.85rem;
  font-family: "Mulish", sans-serif;
  flex-basis: 50%;
  text-transform: capitalize;
}
@media screen and (max-width: 48em) {
  .main-footer .services--faq li {
    text-align: center;
    flex-basis: 100%;
  }
}
.main-footer .services--brand {
  max-width: 25%;
  max-height: 3rem;
}
.main-footer .services--brand img {
  max-height: 3rem;
}
@media screen and (max-width: 48em) {
  .main-footer .services--brand {
    display: flex;
    justify-content: center;
  }
}
a {
  text-decoration: none;
  color: #4CAF50;
}
a:hover {
  text-decoration: underline;
  color: none;
}
a:focus {
  outline: thin dotted;
  color: #388E3C;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
  font-family: Circular Std;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h1 small,
h2 small,
h3 small {
  font-weight: 400;
  display: block;
  color: grey;
}
.h1,
h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
}
.h1,
.h2,
h1,
h2 {
  line-height: 1.2;
}
.h2,
h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
}
.h3,
h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3;
}
.h4,
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
}
.h4,
.h5,
h4,
h5 {
  margin-bottom: 0.25em;
}
.h5,
h5 {
  font-size: 16px;
  font-size: 1rem;
}
.h6,
h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
}
ul {
  line-height: 1.5em;
}
ul + ul {
  margin-top: 1.5em;
}
small {
  font-size: 12px;
  font-size: 0.75rem;
  color: grey;
}
ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 24px;
}
li ul {
  margin: 0;
}

strong {
  font-weight: 700;
}

::selection {
  background-color: #000;
  color: #4CAF50;
  text-shadow: none;
}
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.btn {
  display: inline-block;
  line-height: 2.25em;
  color: #4CAF50;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9em;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #000000;
  border: 3px solid #000000;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
  padding: 0.5em 2em;
}
@media screen and (min-width: 30em) {
  .btn {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}
.btn:hover {
  text-decoration: none;
  background-color: #388E3C;
  border-color: #388E3C;
  color: #000000;
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: #000000;
  border-color: #000000;
  color: #66BB6A;
}
.btn--transparent:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent transparent #388E3C;
  color: #388E3C;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn--primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #000000;
}
.btn--primary:hover {
  background-color: #388E3C;
  border-color: #388E3C;
  color: #f2f3f4;
}
.btn--primary:disabled {
  background-color: #66BB6A;
  border-color: #66BB6A;
  color: #000000;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  to {
    box-shadow: 0 0 0 0 transparent;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  to {
    box-shadow: 0 0 0 0 transparent;
  }
}
.slider {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 0; 
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/bg_image.png);
  background-size: cover;
  background-position: center;
  filter: blur(50px); 
  z-index: -1;
}

.container::after {
  background-color: rgba(0, 0, 0, 20);
}
.slider .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 1.8rem;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}

.slide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-in;
  justify-content: center;
}
.slide .btn {
  position: absolute;
  z-index: 1000;
  align-self: flex-end;
  margin-left: auto;
}
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  transition: opacity 1s ease;
  height: 100%;
}
@viewport {
  width: device-width;
}
html {
  background: #010112;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626;
}
.wrapper {
  width: 90%;
  max-width: 68.75rem;
  margin: auto;
}
.layout {
  background: #010112;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout main {
  flex-grow: 1;
}
.layout .home {
  width: 90%;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 48em) {
  .layout .home {
    padding-top: 3rem;
  }
}
.layout .home {
  padding-bottom: 0;
}
@media screen and (min-width: 56.25em) {
  .home .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.home-section {
  display: flex;
  flex-grow: 0 !important;
  flex-direction: column;
  background-size: 250% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  color: #f2f3f4;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .home-section {
    background-size: cover;
  }
}
.home-section .home-section-title {
  margin-top: 1.7rem;
  font-size: 1.7rem;
  text-align: center;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .home-section .home-section-title {
    font-size: 3rem;
  }
}
.home-section .home-section-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .home-section .home-section-description {
    font-size: 1.5rem;
  }
}
.home-section .home-section-carousel {
  margin-top: 5rem;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .home-section .home-section-carousel {
    display: inline-flex;
    justify-content: space-around;
  }
}
.home-section--nation {
  background-image: url(../images/bg_texture.png);
}
.home-section--packs {
  position: relative;
}
.home-section--packs .business {
  padding: 42px 0;
}
@media only screen and (min-width: 1024px) {
  .home-section--packs .business {
    padding: 36px 0;
  }
}
.home-section--packs .business a {
  color: #f2f3f4;
  font-size: 1.3rem;
  font-weight: 400;
}
.home-section--packs .carousel-plan {
  display: flex;
  background-color: #010221;
  color: #4CAF50;
  text-align: left;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.home-section--packs .carousel-plan--pink {
  background-color: #4CAF50;
  color: #010221;
}

@media only screen and (min-width: 768px) {
  .home-section--packs .carousel-plan {
    margin-right: 1rem;
  }
}
.home-section--packs .carousel-plan .plan-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1.2rem;
}
.home-section--packs .carousel-plan .plan-container .plan-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.home-section--packs .carousel-plan .plan-container .plan-header .title {
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}
.home-section--packs .carousel-plan .plan-container .plan-header .icon {
  width: 50px;
}
.home-section--packs .carousel-plan .plan-container .plan-price {
  display: flex;
  flex-direction: column;
}
.home-section--packs .carousel-plan .plan-container .plan-price span {
  font-size: 1rem;
}
.home-section--packs .carousel-plan .plan-container .plan-price strong {
  font-size: 1.3rem;
}
.home-section--packs .carousel-plan .plan-container .plan-price small {
  color: inherit;
}
.home-section--packs .carousel-plan .plan-container .plan-price a {
  width: 100%;
  font-size: 1.5rem;
  color: inherit;
  background-color: #010221;
  border: 2px solid #f40059;
  margin-top: 1rem;
  padding: 1rem 0;
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.home-section--packs .carousel-plan--pink .plan-container .plan-price a {
  border: 2px solid #000000;
}
.home-section--matches {
  color: #FFF;
  background-color: #101010;
  background-size: 110%;
  background-position: 400% 10%;
  min-height: auto;
  border-bottom: 15px solid #f40059;
}
@media only screen and (min-width: 768px) {
  .home-section--matches {
    background-size: contain;
    background-position: 0 100%;
  }
}
.section--apps {
  background: #010221;
  background-image: url(../images/bg_image_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section--apps .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  line-height: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .section--apps .title {
    text-align: left;
    line-height: 3.5rem;
  }
}
.section--apps .title span {
  color: #010221;
  text-shadow: 2px 0 0 #f2f3f4, -2px 0 0 #f2f3f4, 0 2px 0 #f2f3f4,
    0 -2px 0 #f2f3f4, 1px 1px #f2f3f4, -1px -1px 0 #f2f3f4, 1px -1px 0 #f2f3f4,
    -1px 1px 0 #f2f3f4;
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .section--apps .title span {
    font-size: 3.5rem;
  }
}
.section--apps .badges {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .section--apps .badges {
    width: 30%;
  }
}
.section--apps .badges .badge-group--markets {
  margin-top: 3rem;
}
@media only screen and (min-width: 640px) {
  .section--apps .badges .badge-group--markets {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.section--apps .badges .badge-group--markets a {
  margin-right: 1rem;
}
.section--apps .badges .badges-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .section--apps .badges .badges-group {
    width: 100%;
    flex-direction: row;
  }
}
.section--apps .badges .badges-group div {
  text-align: left;
}
.section--apps .badges .badges-group .apple {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 50px;
}
@media only screen and (min-width: 768px) {
  .section--apps .badges .badges-group .apple {
    padding-left: 2rem;
    margin: 0;
    padding-right: 2rem;
    height: 60px;
  }
}
.section--apps .badges .badges-group .ios {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .section--apps .badges .badges-group .ios {
    margin-top: 1.6rem;
    width: auto;
  }
}
.section--apps .badges .badges-group .android {
  width: 50%;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .section--apps .badges .badges-group .android {
    margin-top: 1.6rem;
    width: auto;
    padding-bottom: 0;
  }
}
@keyframes vjs-spinner-show {
  to {
    visibility: visible;
  }
}
@-webkit-keyframes vjs-spinner-show {
  to {
    visibility: visible;
  }
}
@keyframes vjs-spinner-spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes vjs-spinner-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes vjs-spinner-fade {
  0% {
    border-top-color: #73859f;
  }
  20% {
    border-top-color: #73859f;
  }
  35% {
    border-top-color: #000;
  }
  60% {
    border-top-color: #73859f;
  }
  to {
    border-top-color: #73859f;
  }
}
@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: #73859f;
  }
  20% {
    border-top-color: #73859f;
  }
  35% {
    border-top-color: #000;
  }
  60% {
    border-top-color: #73859f;
  }
  to {
    border-top-color: #73859f;
  }
}
@supports (display: grid) {
  .vjs-text-track-settings .vjs-modal-dialog-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 24px 0;
  }
  .vjs-track-settings-controls .vjs-default-button {
    margin-bottom: 20px;
  }
  .vjs-text-track-settings .vjs-track-settings-controls {
    grid-column: 1/-1;
  }
  .vjs-layout-small .vjs-text-track-settings .vjs-modal-dialog-content,
  .vjs-layout-tiny .vjs-text-track-settings .vjs-modal-dialog-content,
  .vjs-layout-x-small .vjs-text-track-settings .vjs-modal-dialog-content {
    grid-template-columns: 1fr;
  }
}
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 15% 0;
  }
  50% {
    background-position: 85% 100%;
  }
  to {
    background-position: 15% 0;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 15% 0;
  }
  50% {
    background-position: 85% 100%;
  }
  to {
    background-position: 15% 0;
  }
}
@-webkit-keyframes frame-enter {
  0% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0,
      0 0
    );
  }
  25% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0,
      0 0
    );
  }
  50% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0,
      0 0
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 0,
      0 0
    );
  }
  to {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      0 100%
    );
  }
}
@keyframes frame-enter {
  0% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0,
      0 0
    );
  }
  25% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0,
      0 0
    );
  }
  50% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0,
      0 0
    );
    clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0,
      0 0
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 0,
      0 0
    );
  }
  to {
    -webkit-clip-path: polygon(
      0 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      0 100%
    );
  }
}
